* {
    font-family: "Roboto", "Helvetica", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
}

.header h1, .header a {
    color: #F9FAF8;
}

.header h1 {
    margin:0;
    font-size: 24px;
}

.header-right {
    display:flex;
    gap:15px;
}