* {
    font-family: "Roboto", "Helvetica", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header h1 {
    color: #F9FAF8;
}

.header a {
    color: #e5e7eb;
}

.header h1 {
    margin:0;
    font-size: 24px;
}

.header-right {
    display:flex;
    gap:15px;
}

.top-section {
    display:flex;
    flex:1, 1, auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.header, .top-section {
    background-color: #1F2937;
}

.top-left {
    display:flex;
    flex:1, 1, auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-left h1, .top-left p {
    max-width: 340px;
}

.top-left h1 {
    font-size: 48px;
    color:#F9FAF8;
    margin: 0;
}

.top-left p {
    margin-top:5px;
    font-size: 20px;
    color:#bfc4ca
}

.dogs-image {
    max-width:450px;
}

.sign-up-button {
    color:white;
    background-color: #3882f6;
    width:150px;
    height: 45px;
    border-radius: 25px;
    border-color: white;
    border-style: groove;
}

.random-information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:35px;
    margin-bottom: 35px;
}

.random-captioned-images {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.random-captioned-images .captioned-image {
    display: flex;
    flex-direction: column;
}

.random-captioned-images .captioned-image p{
    max-width: 145px;
    text-align: center;
}

.random-captioned-images .captioned-image img {
    border: 4px solid blueviolet;
    border-radius: 16px;
    width: 125px;
    height: 125px;
    align-self: center;
}

.quote-and-author {
    display: flex;
    flex-direction: column;
    padding: 125px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    background-color: #e5e7eb;
}

.quote-and-author .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-and-author .author {
    margin-top: 0;
    align-self: flex-end;
}

.call-to-action-section {
    align-self: center;
    border: 15px 150px;
    border-radius: 5px;
    padding: 25px 125px;
    margin-bottom: 35px;
    background-color: #3882f6;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px
}

.call-to-action-section .left-section{
    display:flex;
    flex-direction: column;
}

.call-to-action-section .left-section h1, .call-to-action-section .left-section h2 {
    color:white;
}

.call-to-action-section .left-section h1{
    font-size: 20px;
    margin: 0;
}

.call-to-action-section .left-section h2{
    font-size: 13px;
}

.sign-up-button.white-border-variant {
    border-color: white;
    width:70px;
    height: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
    color: white;
}